@use "sass:map";

/* --- Utility Classes --- */
@use "sass:list";

/* --- Utility Classes --- */
@mixin generate-classes($config) {
  @if map.get($config, "generate-space-utils") {
    $steps: map.keys(map.get($config, "space-steps"));
    $all-steps: list.join("0", $steps);

    @each $name in $all-steps {
      // Gap
      .gap-#{$name} {
        gap: var(--space-#{$name});
      }

      // Padding
      .p-#{$name} {
        padding: var(--space-#{$name});
      }
      .ph-#{$name} {
        padding-inline: var(--space-#{$name});
      }
      .pv-#{$name} {
        padding-block: var(--space-#{$name});
      }
      .pt-#{$name} {
        padding-top: var(--space-#{$name});
      }
      .pb-#{$name} {
        padding-bottom: var(--space-#{$name});
      }
      .ps-#{$name} {
        padding-inline-start: var(--space-#{$name});
      }
      .pe-#{$name} {
        padding-inline-end: var(--space-#{$name});
      }
      .pl-#{$name} {
        padding-left: var(--space-#{$name});
      }
      .pr-#{$name} {
        padding-right: var(--space-#{$name});
      }

      // Margin
      .m-#{$name} {
        margin: var(--space-#{$name});
      }
      .mh-#{$name} {
        margin-inline: var(--space-#{$name});
      }
      .mv-#{$name} {
        margin-block: var(--space-#{$name});
      }
      .mt-#{$name} {
        margin-top: var(--space-#{$name});
      }
      .mb-#{$name} {
        margin-bottom: var(--space-#{$name});
      }
      .ms-#{$name} {
        margin-inline-start: var(--space-#{$name});
      }
      .me-#{$name} {
        margin-inline-end: var(--space-#{$name});
      }
      .ml-#{$name} {
        margin-left: var(--space-#{$name});
      }
      .mr-#{$name} {
        margin-right: var(--space-#{$name});
      }
    }
  }
}
