@use "sass:map";

/* --- Utility Classes --- */
@use "sass:list";

/* --- Utility Classes --- */
@mixin generate-classes($config, $prefix: "") {
  @if map.get($config, "generate-space-utils") {
    $steps: map.keys(map.get($config, "space-steps"));
    $all-steps: list.join("0", $steps);

    @each $name in $all-steps {
      // Gap
      .#{$prefix}gap-#{$name} {
        gap: var(--space-#{$name});
      }

      // Padding
      .#{$prefix}p-#{$name} {
        padding: var(--space-#{$name});
      }
      .#{$prefix}ph-#{$name} {
        padding-inline: var(--space-#{$name});
      }
      .#{$prefix}pv-#{$name} {
        padding-block: var(--space-#{$name});
      }
      .#{$prefix}pt-#{$name} {
        padding-top: var(--space-#{$name});
      }
      .#{$prefix}pb-#{$name} {
        padding-bottom: var(--space-#{$name});
      }
      .#{$prefix}pl-#{$name} {
        padding-left: var(--space-#{$name});
      }
      .#{$prefix}pr-#{$name} {
        padding-right: var(--space-#{$name});
      }

      // Margin
      .#{$prefix}m-#{$name} {
        margin: var(--space-#{$name});
      }
      .#{$prefix}mh-#{$name} {
        margin-inline: var(--space-#{$name});
      }
      .#{$prefix}mv-#{$name} {
        margin-block: var(--space-#{$name});
      }
      .#{$prefix}mt-#{$name} {
        margin-top: var(--space-#{$name});
      }
      .#{$prefix}mb-#{$name} {
        margin-bottom: var(--space-#{$name});
      }
      .#{$prefix}ml-#{$name} {
        margin-left: var(--space-#{$name});
      }
      .#{$prefix}mr-#{$name} {
        margin-right: var(--space-#{$name});
      }
    }
  }
}
