/* =========================================
   COMPONENTS CONFIGURATION
   ========================================= */

@use "base" as config-base;

// Buttons
$btn-padding-y: var(--space-xs);
$btn-padding-x: var(--space-m);
$btn-radius: var(--radius-m);
$btn-font-weight: 600;
$btn-transition: opacity config-base.$duration-normal,
  transform config-base.$duration-fast;
$btn-active-transform: translateY(1px);
