/* =========================================
   FORMS CONFIGURATION
   ========================================= */

// Checkboxes & Radios
$checkbox-size-min: 18px;
$checkbox-size-max: 22px;

$radio-size-min: 18px;
$radio-size-max: 22px;
