@use "../config/custom" as config;

/* =========================================
   CUSTOM COMPONENTS
   ========================================= */
// Add your own components here without modifying the core framework.

// Example: Card
.card {
  background-color: config.$card-bg;
  border: config.$card-border;
  border-radius: config.$card-radius;
  box-shadow: config.$card-shadow;
  padding: config.$card-padding;

  display: flex;
  flex-direction: column;
  gap: var(--space-m);
}
