@use "sass:map";

/* --- Variable Generator Mixin --- */
@mixin generate-vars($config) {
  $breakpoints: map.get($config, "breakpoints");

  @each $name, $width in $breakpoints {
    --breakpoint-#{$name}: #{$width};
  }

  --z-dropdown: 1000;
  --z-sticky: 1020;
  --z-fixed: 1030;
  --z-modal: 1040;
  --z-popover: 1050;
}
